.rightside__comments_user
  .rightside__comments_user-name
    = message.user.name
  .rightside__comments_user-date 
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .rightside__comments_text 
    = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
